<p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
<h2>User info</h2>


<% @books.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>
    <p>投稿ユーザー画像：<%= image_tag post_image.user.get_profile_image(100,100) %></p>
</div>
<% end %>

<div>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<table>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
    </tr>
  </tbody>
</table>



<% @books.each do |post_image| %>
<div>
  <%= image_tag book.get_image %>
</div>
<% end %>

<h2>New book</h2>
  <%= form_with model: @book do |f| %>
<h4>Title</h4>
<%= f.text_field :title %>
<h4>Opinion</h4>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>
